<h1>Pokemon</h1>

<p><%= @pokemon.name %> - <%= @pokemon.element %>/<%= @pokemon.sub_element %></p>


<% if check_owner(@pokemon) %>
    <form action="/pokemons/<%=@pokemon.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
    </form>

    <a href="/pokemons/<%=@pokemon.id%>/edit">Edit this Pokemon</a><br>
    <a href="/pokemons/new">Create a New Pokemon</a><br>
    <a href="/users/<%=@user.id%>">Return to Your Page</a><br>
    <a href="/logout">Logout</a>
<%end %>