<h1>Pokemon</h1>

<p><%= @pokemon.name %> - <%= @pokemon.type %> - <%= @pokemon.subtype %></p>


<% if check_owner(@pokemon) %>
    <form action="/pokemons/<%=@pokemon.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
    </form>

    <a href="/pokemons/<%=@pokemon.id%>/edit">Edit this Pokemon</a>
<%end %>